body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    border: 0;
    outline: 0;
    color: #FFF;
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 11px;
}

.header {
    background-color: black;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    display: flex;
    list-style: none;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.logo {
    color: #E3B873;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.hero {
    background-image: url(./image/d.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.518);
    z-index: -1;
}

.title {
    margin: 0;
    color: #FFF;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}

.subtitle {
    color: #E3B873;
}

.paragraph-subtitle {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: inherit;
    line-height: 163.68%;
}

.buttons {
    display: flex;
}

.b1 {
    width: 207px;
    height: 51px;
    font-size: 10px;
    padding: 18px 30px;
}

.b2 {
    width: 207px;
    height: 51px;
    font-size: 10px;
    padding: 18px 10px;
    border: 1px solid white;
    border-radius: 2px;
    border: 1;
    outline: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 18px;
}









.black-container {
    margin-top: -16px;
    height: 1074px;
    background-color: #131313;
    position: relative;
}

.black-navigation {
    color: white;
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.30);
    text-transform: uppercase;
}

.list_2 {
    padding-top: 107px;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    margin-left: -25px;
}

.image1 {
    margin-top: 35px;
    position: absolute;
    left: 700px;
    width: 679px;
    height: 482px;
    display: flex;
    justify-content: flex-end;
}

.ladno {
    border-bottom: 2px solid #E3B873;
    border-width: 1px;
}

.container_pon_2{
    color: white;
    margin-left: 134.45px;
    margin-right: auto;
}

.title_pon2{
    text-transform: uppercase;
    color: #E3B873;
    font-family: serif;
}

.subtitle_pon2 {
    font-family: sans-serif;
    font-style: normal;
}

.block_title {
    padding-top: 39px;
    display: flex;
    gap: 150px;
}

.title_pon {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.subtitle_pon {
    font-size: 12px;
    color: #FFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.content_pon4{
    margin-left: -45px;
}

.image3 {
    width: 205.683px;
    height: 13.276px;
    margin-top: 140px;
}

.black_cont_logo {
    margin-top: 150px;
    margin-left: 700px;
    margin-right: auto;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    font-size: 20px;
}

.linia {
    padding-bottom: 11px;
}

.logo_black {
    margin-left: 35px;
    margin-top: 5px;
}




.white {
    height: 2540px;
    position: relative;
}

.image_5 {
    background-color: rgba(0, 0, 0, 0.574);
    width: 100px;
    height: 100px;
    z-index: 2;
    position: absolute;
    left: 375px;
    top: -167px;
    width: 817px;
    height: 434px;
    background-image: url();
    box-shadow: 0px 7px 20px 0px #131313;
}

.woman {
    position: absolute;
    left: 375px;
    top: -167px;
    z-index: 1;
}

.player {
    margin-left: 340px;
    margin-top: 150px;
    border-radius: 200px;
}

.linia2 {
    position: absolute;
    top: 300px;
    left: 767px;
}

.descriptions_white {
    text-align: center;
    padding-top: 345px;
    margin-left: 57px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.section_input {
    display: flex;
    gap: 70px;
    margin-top: 93px;
    margin-left: 410px;
    line-height: 23px;
    font-family: sans-serif;
}

.title_in {
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
}

.in {
    width: 200px;
    height: 51px;
    margin-left: -29px;
}

.q1 {
    border-bottom: 1px solid rgba(86, 86, 86, 0.395);
    width: 230px;
}

.line1 {
    display: flex;
    margin-top: 50px;
    margin-left: 650px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

.white_cont_logo {
    margin-top: 186px;
    margin-left: 705px;
}

.text_white_logo {
    font-style: normal;
    font-family: serif;
    font-size: 10px;
}

.logo_white {
    margin-top: 5px;
    margin-left: 28px;
}




.section_3block{ 
    display: flex;
    margin-top: 40px;
    margin-left: 160px;
    gap: 30px;
    position: relative;
}

.list_block {
    position: absolute;
    bottom: -150px;
    background-color: white;
    margin-left: 30px;
    width: 330px;
    height: 286px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.159);
}

.title_list {
    font-family: 'Yeseva One';
    margin-left: 34px;
    margin-top: 25px;
    font-size: 8.5px;
}

.list_4 {
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
}

.price {
    margin-top: 15px;
    margin-left: -40px;
    box-shadow: 0px 5px 15px 0px #E3B873;
    border-radius: 1px;
    color: #FFF;
    font-family: 'Yeseva One';
    font-size: 13.5px;
}

.ladnopon {
    display:grid;
}

.text_ladno {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
}

.conteiner_white_2 {
    display: flex;
    position: relative;
}

.section_white_2 {
    position: relative;
    padding-top: 410px;
}

.loh {
    position: absolute;
    top: 300px;
    z-index: -1;
}
.block_1 {
    margin-left: 250px;
}

.krug {
    color: #FFF;
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 10px;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    background-color: #E3B873;
    border: 5px solid white;
    z-index: 1;
    margin-bottom: 100px;
}

.flex {
    display: flex;
}

.bam {
    margin-left: 9px;
    margin-bottom: 10px;
    line-height: 20px;
}


.black_white {
    background-color: #131313;
    width: 506px;
    height: 509px;
    margin-left: 210px;
}

.title_b_h {
    color: white;
    text-align: center;
    line-height: 25px;
    padding-top: 28px;
}

.inp {
    color: white;
    margin-left: 45px;
    margin-bottom: 50px;
}

.input_pon {
    width: 150px;
    background-color: rgba(245, 245, 220, 0);
    border: 0;
    color: white;
    border-radius: none;
    input-security:none;
    margin-left: -150px;
}

input {
    border: none;
}

.inp_0 {
    display: flex;
}

.subtitle_in {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 300px;
}

.g1 {
    margin-left: -155px;
    width: 155px;
}

.g3 {
    margin-left: -219px;
    width: 220px;
}

.inpb {
    margin-left: 244px;
    width: 213px;
    height: 51px;
    box-shadow: 0px 0px 10px 0px #E3B873;
}

.svinka {
    display: flex;
    color: #E3B873;
    margin-top: -60px;
    margin-left: 888px;
}

.text_inp {
    margin-top: 20px;
    line-height: 25px;
}

.sect_4 {
    margin-top: 254px;
    position: relative;
}

.sect_4_img  {
    width: 1519.200px;
    height: 864px;
    z-index: -1;
    position: relative;
}

.img_black_4 {
    position: absolute;
    top: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    width: 1519.200px;
    height: 864px;
}

.content_sect_4 {
    z-index: 2;
    padding-top: 110px;
    padding-left: 99px;
}

.text_1_sect4 {
    color: white;
    margin-bottom: 25px;
    line-height: 25px;
}

.title2_sect_4 {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-size: 20px;
    border: 1px;
    border-bottom: 1px solid #E3B873;
    width: 138px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.title_sect_4 {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-size: 20px;
    text-transform: uppercase;
}

.porno {
    position: absolute;
    top: -48px;
    right: 499px;
    width: 354px;
    height: 557.883px;
}

.prono2 {
    position: absolute;
    top: -112px;
    right: 102px;
}

.prono3 {
    position: absolute;
    top: 200px;
    right: 102px;
}

.prono4 {
    position: absolute;
    top: 550px;
    right: 499px;
}

.logo_5 {
    padding-top: 75.26px;
    padding-left: 700px;
}

.h1_5 {
    text-transform: uppercase;
}
.logo_s {
    margin-left: 45px;
}

.description_5 {
    text-align: center;
    margin-left: 95px;
}






.sect_6 {
    display: flex;
    margin-left: 54px;
}

.block_6 {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    margin-top: 30px;
    margin-left: 70px;
}

.pon_6 {
    display: flex;
}

.img_5 {
    border-radius: 100px;
    padding: 15px;
}

.h1_6 {
    font-family: serif;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.description_6 {
    padding: 10px;
    color: #959595;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    
}

.block_10 {
    display: flex;
    width: 290px;
    gap: 3px;
    margin-top: 50px;
}

.button_10 {
    display: flex;
    background-color: #E3B873;
    width: 300px;
    height: 50px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #E3B873;
}

.top_1 {
    width: 32.345px;
    height: 31.345px;
}

.text_butt {
    margin-left: 15px;
    margin-top: 6px;
    color: #FFF;
    font-family: 'Yeseva One';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}







.sect_5 {
    margin-top: 600px;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 1519.200px;
    height: 1000px;
}

.image_7 {
    width: 1519.200px;
    position: absolute;
    top: 0px;
    opacity: .4;
}

.block_inp_top{
    width: 883px;
    height: 445.319px;
    background-color: #181818;
    position: absolute;
    top: -250px;
    right: 278px;
}

.block_inp_8 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.307);
}

.title_8 {
    color: white;
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
    margin-top: 50px;
}

.block_pon_inp {
    display: flex;
    color: white;
    margin-left: 151px;
    margin-top: 50px;
    gap: 48px;
    
}

.title_inp_8 {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
}

.subtitle_inp_8 {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */
}

.input_inp {
    display: flex;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.osobenny {
    width: 600px;
    margin-left: 151px;
    margin-top: 50px;
}

.b8 {
    margin-top: 35px;
    margin-left: 280px;
}

.b9 {
    margin-top: 35px;
    margin-left: 370px;
}

.toxic {
    padding-top: 250px;
    margin-left: 30px;
    text-align: center;
}

.image20 {
    margin-left: 720px;
    margin-top: 25px;
}

.ahuet {
    margin-left: 285px;
    margin-top: 50px;
}